*/dist
*/build
*/nbproject/private
*.swp
*.class
.ant-targets-build.xml
.vam_prefs
*~
nblibraries-private.properties
.fuse*
*.mama
*.iml
*.iws
*.jar
*.log
*.aux
*.aux.bak
*.toc
*.snm
*.nav
*.out
*.fdb_latexmk
*.z[io]
slides.pdf
